<<<<<<< HEAD
html {
    margin: 0;
    padding: 0;
    font-size: 16px; 
  }
=======
@import "fonts";
@import "variables";
>>>>>>> 16c1275a395cfa869c08a4c706ae75f48bacbbfe

html,body {
  margin: 0;
  padding: 0;
}
@mixin centerUpper($height) {
  text-align: center;
  text-transform: uppercase;
  line-height: $height;
}
@mixin flexCenterJustify($content) {
  display: flex;
  align-items: center;
  justify-content:$content;
}
@mixin widthHeightAlign($width,$height,$align) {
  width:$width;
  height:$height;
  text-align:$align;
}
@mixin sizeLheight ($size,$height) {
  font-size: $size;
  line-height: $height;
}