@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    
}
@font-face {
    font-family: 'Sukhumvit Set';
    src: url('../fonts/SukhumvitSet-Text.woff2') format('woff2'),
        url('../fonts/SukhumvitSet-Text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Saudagar';
    src: url('../fonts/Saudagar.woff2') format('woff2'),
        url('../fonts/Saudagar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@mixin montserratNormal ($weight,$size) {
    font-family: 'Montserrat';
    font-weight: $weight;
    font-size: $size;
}
@mixin sukhumvitNormal($weight,$size) {
    font-family: 'Sukhumvit Set';
    font-weight: $weight;
    font-size: $size;
    
}
@mixin saudagarNormal($weight,$size) {
    font-family: 'Saudagar';
    font-weight: $weight;
    font-size: $size;
}