$buttonH4:#DCAC9B;
$backgroundColor:#1A1A1A;
$textColor:#FFFFFF;
$textH3White: rgba(255, 255, 255, 0.8);
$inputColor:#8E8E8E;
$textColorH3:rgba(26, 26, 26, 0.8);
$textColorH5: hsla(0, 0%, 100%, 0.03);
  