@import "variables";
@import "components";
@import "fonts";

body {
    background: $backgroundColor;
    max-width: 120rem;
}
h1 {
    @include saudagarNormal(400,18rem);
    line-height:18rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.06;
    margin: 0; 
    white-space: nowrap;
}
h2 {
    @include saudagarNormal(400,3.13rem);
    line-height: 4.06rem;
    text-transform: uppercase;
 }
h3 {
    @include sukhumvitNormal(300, 1.37rem);
    line-height: 2,37rem;
    color:rgba(26, 26, 26, 0.8);
 }
h4{
    @include saudagarNormal (400, 1.87rem);
    color: $buttonH4;
    margin: 0; 
 }
 h5{
    @include saudagarNormal(400, 17.18rem);
    @include centerUpper(19rem);
    display: flex;
    width: 47.87rem;
    margin-top: 12rem;
    margin-bottom: 0;
    position: relative;
    color: $textColorH5;
    &::before {
        content: "salon";
        position: absolute;
        color:$textColor;
        animation-name: opaciti-letter;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        overflow: hidden;
    }
}
p {
    @include sukhumvitNormal (500,1.1rem);
    margin: 0;
 }
a {
    text-decoration: none;
    color: $textColor;
    @include flexCenterJustify(end);
}
input{
    background:$backgroundColor;
    width: 35rem;
    border: none;
    outline: none;
    opacity: 0.7;
    border-bottom: 0.1rem solid white;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: $inputColor;
}
.salon{
    // background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.72))),url(logo.svg);
    background: linear-gradient(rgba(0, 0, 0, 0.72)),url(logo.svg);
    background-size: 120rem;
    background-repeat: no-repeat;
    color:$textColor;
    text-decoration: none;
    height:75rem;
    white-space: nowrap;
}
.menu {
    @include flexCenterJustify(space-between);
    padding: 5rem 7.18rem;
}
.left-side {
    @include montserratNormal(400, 2rem);
    letter-spacing: 0.17em;
}
.right-side {
    @include sukhumvitNormal(100, 1.125rem);
    @include flexCenterJustify(end);
    div {
        padding-right: 3rem;
        &:hover{
            border-bottom: 0.1rem solid white;
            opacity: 0.8;
        }
    }
    img {
        height:1.3rem;
        padding-right: 0.5rem;
    }
}
.center {
    @include flexCenterJustify(center);
}
  
.center-small {
    @include saudagarNormal(300, 2rem);
    @include centerUpper(2.62rem);
    margin-bottom: 3.8rem;
}
button {
    @include widthHeightAlign(17.6rem,3.7rem,center);
    background:$buttonH4;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    @include sukhumvitNormal(700, 1.12rem);
    &:hover{
        border: 0.1rem solid white;
        opacity: 0.8;
    }
}
.coming {
    height:80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    h2{
        @include widthHeightAlign(45rem,14.75rem,center);
    }
    h3{
        @include widthHeightAlign(54rem,8.12rem,center);
        color: rgba(255, 255, 255, 0.8);
    }
   img {
    @include widthHeightAlign(95rem,47.5rem,center);
    margin-top: 14.87rem;
   }
}
.own-shedule,.lashes,.skills-sharper-03 {
    h2 {
        @include widthHeightAlign(24.37rem,8.12rem,start);
        margin: 0;
    }
    h3 {
        @include widthHeightAlign(30.25rem,6rem,start);
    } 
}
.shedule {
    background: white;
    height: 97rem;
    @include flexCenterJustify (space-around);
    padding-top: 13.12rem;
    img {
        @include widthHeightAlign(40.62rem,20.62rem,center);
    }
    .own-shedule{
        transition-duration: 1s;
        &:hover {
            margin-right: 10rem;
        }
    }
}
.good-money{
    height: 59.37rem;
    @include flexCenterJustify (space-around);
    color: white;
        h3 {
            color: $textH3White;
        }  
        img {
            @include widthHeightAlign(36.25rem,64.37rem,center);
            position: relative;
            bottom: 2.4rem;
        }
}
.skills-sharper {
    background: white;
    text-align: center;
}
.skills-sharper-03 {
    display: flex;
    justify-content: space-around;
    padding:13rem 0;
    text-align: start;
}
.ellipse {
    @include flexCenterJustify (center);
    padding: 4rem 0 13rem 0;
    img {
        position: absolute;
        @include widthHeightAlign(21.81rem,47.25rem,center);
        border: 0.4rem solid black;
        border-radius: 2rem;
        box-shadow: 0 0.5rem 3rem 1rem rgba(1, 21, 52, 0.16);
    }
}
.ellipse-34,.ellipse-35 {
    content: url(../image/Ellipse-34.svg);
    @include widthHeightAlign(32rem,32rem,center);
    padding: 1rem;
}
.ellipse-35 {
    content: url(../image/Ellipse-35.svg);
}
.coming-soon-on {
    h2 {
        @include sukhumvitNormal (400, 1.56rem);
    }
    button {
        font-weight: 500;
        background-color: black;
        color: white;
        @include widthHeightAlign (11.37rem,3.25rem,center);
        margin: 0 0.8rem 12rem 0;
        img {
            height:1.3rem;
            padding-right: 0.9rem;
        }
    }
}
.black-buttons {
    @include flexCenterJustify (center);
}
.makeup {
    @include flexCenterJustify (start);
    color: white;
    img {
        @include widthHeightAlign(62rem,62rem,center)
    }
}
.subscribe {
    padding-left: 8rem;
    button {
        width: 35rem;
        margin-top: 2rem;
    }
}
.footer {
    @include flexCenterJustify (space-between);
    padding: 2.87rem 7.81rem;
}
.copyright {
    @include flexCenterJustify (space-between);
    img {
        @include widthHeightAlign (0.7rem,0.8rem,center);
        padding: 0.5rem;
    }
}
        // ---ANIMATION---
@keyframes opaciti-letter {
0% {
    width: 0%;
}
50% {
    width: 100%;
}
100% {
    width: 0%;
}
}
            // ---RESPONSIVE---
@media (max-width: 1820px) {
    h1 {
        @include sizeLheight(17rem,17rem);
    }
} 
@media (max-width: 1600px) {
    h1 {
        @include sizeLheight(16rem,16rem);
    }
}
@media (max-width: 1680px) {
    html {
        font-size: 15px;
    }
}
@media (max-width: 1520px) {
    html {
        font-size: 14px;
    }
}
@media (max-width: 1440px) {
    html {
      font-size: 13px;
    }
  }
@media (max-width: 1320px) {
    html {
        font-size: 12px;
    }
    .ellipse-34, .ellipse-35 {
        width: 30rem;
    }
}
@media (max-width: 1180px) {
    html {
      font-size: 11px;
    }
  }
@media (max-width: 1100px) {
    html {
      font-size: 10px;
    }
  } 
@media (max-width: 980px) {
    html {
      font-size: 9px;
    }
  }
@media (max-width: 890px) {
    html {
      font-size: 8px;
    }
  } 
@media (max-width: 800px) {
    html {
      font-size: 7.5px;
    }
        .menu {
        align-items:start;
    }
    .right-side, .left-side {
        flex-direction: column;
        align-items: start;
        font-size: 3rem;
        img {
            height:3rem;
            padding-right: 2rem;
        }
    } 
    .center-small,h3,button {
        font-size: 2.5rem;
    }
    button,.coming-soon-on button {
        @include widthHeightAlign(30rem,7rem,center);
    }
    h1 {
        @include sizeLheight(15rem,15rem);
    }
    h2,.coming-soon-on h2 {
        @include sizeLheight(3rem,5rem);
     }
     p,h3 {
        @include sizeLheight(2.5rem,4rem);
     }
     h4{
        @include sizeLheight(3rem,3rem);
     }
     .coming {
         height: 90rem;
        h3{
            @include widthHeightAlign(85rem,12rem,center);
        }
       img {
        width: 80rem;
       } 
     }
    .good-money .lashes,.skills-sharper-03  {
        padding: 4rem;
        margin-bottom: 15rem; 
    }
    .ellipse-34, .ellipse-35 {
        width: 27rem;
    }
    .coming-soon-on button img {
        height: 3rem;
    }
    .makeup img {
        @include widthHeightAlign(50rem,50rem,center);
    }
    .copyright img {
        @include widthHeightAlign(3rem,3rem,baseline);
    }
    .subscribe {
        padding-left: 5rem;
        button {
            width: 38rem;
        }
    } 
    input{
        font-size: 1.7rem;
        width: 38rem;
    }
  }
@media (max-width: 700px) {
    html {
        font-size: 6px;
    }
}
@media (max-width: 560px) {
    html {
        font-size: 5px;
    }
}
@media (max-width: 470px) {
    html {
        font-size: 4px;
    }
}
@media (max-width: 380px) {
    html {
        font-size: 3.5px;
    }
}
@media (max-width: 340px) {
    html {
        font-size: 3px;
    }
}
@media (max-width: 295px) {
    html {
        font-size: 2.5px;
    }
}